@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #1368EC;
  --font-display: "Poppins", sans-serif;
  --font-stack: "Stack Sans Notch", sans-serif;
  --breakpoint-3xl: 1920px;
}

@layer base {
  html {
    font-family: var(--font-stack);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}


.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-3 mt-3 border border-slate-200 outline-none
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600 hover:bg-blue-600/75 cursor-pointer
}